@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --kenjofont: "Kenjo I";
  --poppinsfont: "Poppins", sans-serif;
  --latofont: "Lato", sans-serif;
  --apnagreen: #27342e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

#main {
  position: relative;
  width: 100%;
  background-color: var(--apnagreen);
}

#nav {
  height: 15vh;
  width: 100%;
  /* background-color: orange; */
  position: fixed;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw;
}

#nav > #navlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 20%;
}

#nav > #navlogo > #sitename {
  text-transform: uppercase;
  font-family: var(--kenjofont);
  font-size: 2vw;
  font-weight: 600;
  color: #fff;
}

#nav > #navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 49%;
}

#nav > #navlinks > a {
  font-family: var(--latofont);
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
}

#nav > #navbuttons {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3vw;
}

#nav > #navbuttons > #search > svg {
  fill: #fff;
  height: 25px;
}

#nav > #navbuttons > #options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}

#nav > #navbuttons > #options > .optionslines {
  background-color: #fff;
}

#optionsline1 {
  width: 25px;
  height: 2px;
}
#optionsline2 {
  width: 20px;
  height: 1px;
}
#optionsline3 {
  width: 25px;
  height: 2px;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.103),
    var(--apnagreen)
  );
}

#page1 > #page1overlay {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 50%, var(--apnagreen));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page1 > #page1overlay > #page1button {
  backdrop-filter: blur(20px);
  padding: 1.9vh 2.5vh;
  margin-top: 10vh;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  transform: scale(1);
}

#page1 > #page1overlay > #page1button:hover {
  transition-duration: 200ms;
  transform: scale(1.01);
  border: 1px solid #fff;
}

#page1 > #page1overlay > h1 {
  /* background-color: green; */
  margin: 3vh 0vh;
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
}
#page1 > #page1overlay > #page1circle {
  background-color: purple;
}

#page1 > img {
  position: absolute;
  width: 100vw;
  height: 99vh;
  object-fit: cover;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--apnagreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 > #page2text > h2 {
  text-align: justify;
  font-family: var(--latofont);
  color: #ffffff86;
  font-size: 3vw;
  font-weight: 100;
}

#page2 > #page2text > h2 > span {
  opacity: 1;
  color: #fff;
  z-index: 9999;
}

#page2 > #page2images {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#page2 > #page2images > .page2image > img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
#page2 > #page2images > #page2image1 {
  position: absolute;
  top: 35vh;
  left: 15vw;
  height: 200px;
  width: 400px;
  background-color: red;
}
#page2 > #page2images > #page2image2 {
  position: absolute;
  top: 25vh;
  right: 15vw;
  height: 200px;
  width: 400px;
  background-color: red;
}
#page2 > #page2images > #page2image3 {
  position: absolute;
  bottom: 5vh;
  left: 45vw;
  height: 250px;
  width: 175px;
  background-color: red;
}
